<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Product Id="*" Name="WpfSampleApp.Setup" Language="1033" Version="1.0.0.0" 
           Manufacturer="" UpgradeCode="d7435ca7-b61c-4ddc-9b43-a9a227da1e6b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="WpfSampleApp.Setup" Level="1">
			<ComponentGroupRef Id="WpfSampleApp.Binaries" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WpfSampleApp.Setup" />
			</Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpB68808A504FAB2F7A399B29E59C0056E" Guid="*">
        <File Id="filEA5FFF2619D646068DD5111DA51A3B86" 
              Source="$(var.WpfSampleApp.TargetDir)\WpfSampleApp.exe" />
      </Component>
      <Component Id="cmp294B8AC259E569C58315C8738BE32B76" Guid="*">
        <File Id="filD6AD66F0B54E050CAC4F3EFB05340249" 
              Source="$(var.WpfSampleApp.TargetDir)\WpfSampleApp.exe.config" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="WpfSampleApp.Binaries">
      <ComponentRef Id="cmpB68808A504FAB2F7A399B29E59C0056E" />
      <ComponentRef Id="cmp294B8AC259E569C58315C8738BE32B76" />
    </ComponentGroup>
  </Fragment>
</Wix>
