<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quick_CRM.Properties.Settings.CRMConnectionString"
            connectionString="Data Source=.;Initial Catalog=CRM;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Quick_CRM.Properties.Settings.LocalCRMConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\LocalCRM.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
</configuration>